agents/n8n/workflows/marketing-ai-agent.json
{
  "name": "E-Outilles Marketing AI Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "cron": {"expression": "0 9 * * 1,3,5"}
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Mon/Wed/Fri 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "table": "products",
        "filters": "status='active'"
      },
      "id": "get-products",
      "name": "Get Featured Products",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const products = $input.all();\n\n// Get top 3 products for promotion\nconst featured = products.slice(0, 3).map(p => ({\n  name: p.name,\n  price: p.price,\n  discount: Math.round(p.price * 0.15),\n  link: `https://e-outilles.com/product/${p.slug}`\n}));\n\n// Generate social posts\nconst posts = [\n  {\n    platform: 'whatsapp',\n    message: `🛠️ PROMOTION DU JOUR - E-Outilles!\\n\\n${featured.map(p => `• ${p.name}: ${p.price}€ (-${p.discount}€)`).join('\\n')}\\n\\n→ Commandez maintenant!`,\n    target: 'customers'\n  },\n  {\n    platform: 'instagram',\n    message: `🔥 NEW: ${featured[0].name}\\n\\nProfessionnel. Fiable. Accessible.\\n\\nPrix: ${featured[0].price}€\\nLien en bio!\\n\\n#INGCO #OutillagePro #Bricolage`,\n    target: 'followers'\n  },\n  {\n    platform: 'facebook',\n    message: `🎯 Meilleures ventes cette semaine chez E-Outilles!\\n\\n${featured.map(p => `${p.name} - ${p.price}€`).join(' | ')}\\n\\nLivraison mondiale 24h | 100% SATISFAIT\\n\\n👉 https://e-outilles.com`,\n    target: 'public'\n  }\n];\n\nreturn posts.map(json => ({json}));"
      },
      "id": "generate-content",
      "name": "AI Content Generator",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{
            "value1": "={{$json.platform}}",
            "value2": "whatsapp"
          }]
        }
      },
      "id": "route-whatsapp",
      "name": "Route WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 150]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{
            "value1": "={{$json.platform}}",
            "value2": "instagram"
          }]
        }
      },
      "id": "route-instagram",
      "name": "Route Instagram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "chatId": "group@ g.us",
        "text": "={{$json.message}}"
      },
      "id": "whatsapp-blast",
      "name": "WhatsApp Broadcast",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [1050, 150]
    },
    {
      "parameters": {
        "caption": "={{$json.message}}",
        "mediaType": "image"
      },
      "id": "instagram-post",
      "name": "Instagram Post",
      "type": "n8n-nodes-base.instagram",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "message": "={{$json.message}}",
        "pageId": "={{$json.facebookPageId}}"
      },
      "id": "facebook-post",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.facebook",
      "typeVersion": 1,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "marketing_campaigns",
        "columns": "type, platform, message, status, scheduled_at, created_at",
        "values": "='promotion', ='{{$json.platform}}', ='{{$json.message}}', ='sent', =NOW(), =NOW()"
      },
      "id": "log-campaign",
      "name": "Log Campaign",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Schedule - Mon/Wed/Fri 9AM": {
      "main": [[{"node": "Get Featured Products", "type": "main", "index": 0}]]
    },
    "AI Content Generator": {
      "main": [[{"node": "Route WhatsApp", "type": "main", "index": 0}], [{"node": "Route Instagram", "type": "main", "index": 0}]]
    },
    "Route WhatsApp": {
      "main": [[{"node": "WhatsApp Broadcast", "type": "main", "index": 0}]],
      "false": [[{"node": "Facebook Post", "type": "main", "index": 0}]]
    },
    "Route Instagram": {
      "main": [[{"node": "Instagram Post", "type": "main", "index": 0}]]
    },
    "WhatsApp Broadcast": {
      "main": [[{"node": "Log Campaign", "type": "main", "index": 0}]]
    }
  }
}
